/* Style for home title */
.stat-by-year-home-title {
    text-align: center;
    align-self: auto;
    font-weight: bold;
    font-size: 50px;
    padding-top: 1.5rem;
}
  
 /* Style for search box */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  /* Style for search input area */
  .search-input {
    background-color: #000000;
    padding: 7px;
    font-size: 16px;
    border-radius: 15px;
    width: 45%;
    height: 2.5rem;
  }
  
  /* Style for search button */
  .search-button {
    color: white;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .summary-container {
    display: flex;
    justify-content: space-between; /* Space between the columns */
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    padding: 1.5rem;
    padding-top: 4rem;
  }
  
  .summary-cards-column {
    display: flex;
    flex-direction: column;
    width: 25%; /* Adjust width as needed */
  }
  
  .summary-card {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    background-color: #fcfcfc;
  }
  
  .donut-chart-column {
    width: 50%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .summary-card h3 {
    color: #555;
    font-size: 1.7rem;
    font-weight: 300;
  }
  
  .summary-card p {
    font-size: 3rem;
    color: #ff0000;
  }
  
  .pie-chart {
    text-align: center;
    width: 22%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .charts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Gap between charts */
    margin: 1.5rem;
  }
  
  .chart {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
  }

  .chart-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

